body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
.body-content {
  border-top: 5px solid #0d4f9a;
  border-bottom: 5px solid #0d4f9a;
  padding-bottom: 15px;
}

/*------------------------------------------------Top Navbar Start------------------------------------------ */

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.top-nav {
  font-size: 1.1rem;
  background-color: #0d4f9a;
  letter-spacing: 1.5px;
}

.top-nav a {
  color: white;
}

.top-nav-dropdown {
  border-radius: 0px;
  background-color: #063469;
}

.top-nav-dropdown a {
  color: white;
}

.top-nav-dropdown li {
  border-top: 0.1em solid rgba(8, 75, 150, 0.5);
}

span.cart-ico {
  margin-right: 0px;
  margin-left: 3px;
}

span.user-ico {
  margin-right: 0;
}

.navbar-brand {
  margin-right: 0px;
}

/* -------------------------------------------------Top Navbar End-------------------------------------------- */

/* --------------------------------------------------main navbar start------------------------------------------ */
.navbar-collapse .nav-item span {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.875rem;
}
.navbar-collapse .nav-item a {
  line-height: 1.5;
  color: #0d4f9a;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: "Lato", "HelveticaNeue", "Helvetica Neue", sans-serif;
}

span.search-contact {
  font-size: 11px;
  color: #2bb34d;
  font-weight: bold;
  /* vertical-align: middle; */
  /* margin-bottom: 11px; */
  /* text-align: end; */
}

.search-contact a {
  display: inline-block;
  text-shadow: 0.6px 0 #2bb34d;
  margin-right: 5px;
  font-size: 14px;
  font-weight: bolder;
  vertical-align: middle;
}

.search {
  margin-right: 20px;
}

.search-bar {
  padding-top: 10px;
}

.biotrust-image {
  padding-left: 50px;
  padding-right: 50px;
  width: 60%;
}

.main-nav {
  padding-bottom: 2px;
  padding-top: 2px;
}

.main-nav-dropdown {
  border-radius: 0px;
}

.main-nav-dropdown a {
  color: #0d4f9a;
  font-weight: 500;
}

.shop-btn {
  background-color: var(--color-nav-bg, #0d4f9a);
  border-radius: 7px;
  color: var(--color-nav-text, #fff);
  padding: 15px;
  padding-left: 20px;
  margin-right: 25px !important;
  margin-left: unset !important;
}

.shop-btn:hover {
  background-color: #0d4f9a;
  color: white;
}

.main-nav-links a {
  color: #0d4f9a;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  right: 50px;
  bottom: 5px;
  color: #bdc7bfe1;
  font-size: xx-large;
}
.biotrust-image img {
  width: 60%;
}
@media (max-width: 1000px) {
  .biotrust-image img {
    width: 50%;
    padding-right: 0;
  }
  .biotrust-image {
    padding-left: 0;
    padding-right: 0;
  }
  .main-image-container {
    width: 70%;
  }
}

.bread-crumb {
  margin-left: 10px;
  margin-top: 10px;
  color: #3f87d8;
  font-weight: 400;
}

.bread-crumb ol {
  margin-bottom: 1px;
}

.bread-crumb a {
  text-decoration: none;
  color: #1e77de;
  font-weight: 400;
}

/* --------------------------------------------------main navbar end------------------------------------------ *




/* --------------------------------------------------body start------------------------------------------ */

/* ----------------------------------Offer Pakages (Right Grid) Start ------------------------------------------*/

.choose-pakage {
  font-weight: 800;
  font-size: x-large;
  color: #0d4f9a;
  text-align: center;
}

.select-money {
  text-align: center;
}

.pakage-wide-buttons-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.one-time-purchase-btn {
  /* display: inline-block; */
  background-color: #0d4f9a;
  border-color: #0d4f9a;
  color: white;
  font-weight: 800;
  font-size: larger;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.subscribe-btn {
  /* display: inline-block; */
  background-color: white;
  border-color: #0d4f9a;
  color: #0d4f9a;
  font-size: larger;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
}

.one-time-purchase-btn:hover {
  /* cursor: default !important; */
  background-color: #0d4f9a;
  color: white;
}

.subscribe-btn:hover {
  /* cursor: default !important; */
  background-color: white;
  color: #0d4f9a;
}

.offers-container {
  padding: 30px 30px 30px;
}

.card-footer {
  background-color: white;
  border: none;
}
.card-flavor-button {
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2bb34d;
  border-color: #2bb34d;
}

.pakage-middle .card-footer {
  padding-top: 40px;
  margin-bottom: 7px;
}

.card-flavor-button:hover {
  background-color: #1fc749;
  border-color: #1fc749;
}

.card-footer {
  padding-top: 0;
}

.pakage .card-title {
  font-size: 32px;
  font-weight: 900;
  color: #0d4f9a;
}

.pakage .price {
  padding-top: 10px;
  font-size: 35px;
  color: #2bb34d;
}

.pakage .discount {
  font-size: 25px;
  font-weight: 550;
  color: red;
}

.pakage .card-body-text {
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
  padding-top: 10px;
}

.card-body {
  padding-bottom: 1px;
}

.pakage-left {
  border: 2px solid #0d4f9a;
  border-right: 0;
  border-radius: 0px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.pakage-left .price {
  padding-bottom: 60px;
  color: black;
}

.pakage-middle .price {
  padding-top: 0px;
}

.pakage-right {
  border: 2px solid #0d4f9a;
  border-left: 0;
  border-radius: 0px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.pakage-middle {
  border: 5px solid #0d4f9a;
  border-top: 3px;
  border-radius: 0px;
  /* padding-bottom: 40px; */
}

.pakage-middle .card-header {
  background-color: #0d4f9a;
  color: white;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 800;
  padding: 0px;
  text-align: center;
}

.pakage span.per-bag {
  display: none;
}
img.bag-image {
  display: none;
}

@media (max-width: 1000px) {
  img.bag-image {
    display: inline;
    float: left;
  }
  .price .per-bag-nested {
    display: none;
  }
  .card-body-text .price span.per-bag {
    display: inline;
    font-size: small;
    font-weight: 600;
  }

  .pakage-left {
    padding-bottom: 0px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border: 2px solid #0d4f9a;
  }

  .pakage-left .card-footer {
    padding: 0;
    margin: 0;
  }
  .pakage-right {
    padding-bottom: 0px;
    margin-top: 10px;
    border: 2px solid #0d4f9a;
  }

  .pakage-right .card-footer {
    padding: 0;
    margin: 0;
  }

  .pakage-middle .card-header {
    display: none;
  }
  .pakage-middle .card-footer {
    padding: 0;
    margin: 0;
  }

  .pakage-middle .price {
    padding-bottom: 0px;
  }

  .pakage-middle {
    padding-bottom: 0px;
    border: 5px solid #2bb34d;
  }

  .pakage .card-flavor-button {
    position: absolute;
    right: 15px;
    top: 20px;
    width: 30%;
    font-size: 14px;
    font-weight: 700;
  }

  .card-title {
    margin-bottom: 0;
  }

  .pakage .card-title {
    font-size: larger;
    padding-bottom: 2px;
    text-align: left;
  }
  .card-body-text .price {
    font-size: 20px;
    font-weight: 1000;
    line-height: normal;
    padding-bottom: 0px;
    padding-top: 0;
    text-align: left;
  }

  .pakage-left .price {
    font-weight: 500;
  }

  .br {
    display: none;
  }

  .card-body .card-text {
    padding-top: 0px;
  }

  .pakage-middle .card-footer {
    padding-top: 0;
  }
  .pakage .discount {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .pakage .card-flavor-button {
    padding: 1px;
    font-size: 11px;
    font-weight: 500;
    width: 25%;
    right: 3px;
  }
  .card-body-text .price {
    font-size: 12px;
    font-weight: 600;
  }
  .pakage .discount {
    padding-top: 5px;
    font-size: 14px;
  }
  .pakage .card-body {
    padding-left: 0;
    margin-left: -10px;
  }
  .pakage-left .card-body {
    margin-bottom: -19px;
  }
}

@media (max-width: 800px) {
  .vertical-pics {
    display: none;
  }
  .review-section .featured .vertical {
    padding-right: 0px;
  }
}

@media (max-width: 600px) {
  .top-nav-font {
    font-size: small;
  }
  .mbl {
    font-size: small;
  }
  .top-right-nav-list {
    display: contents;
  }
}

/* ----------------------------------Offer Pakages (Right Grid) END ------------------------------------------*/

/* -------------------------Community Photos Horizontal Carousal(Right Grid) Start ------------------------------------------*/

.padding-0 {
  padding-right: 2px;
  padding-left: 2px;
}

.carousal-container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.community-photos-title {
  padding-bottom: 10px;
  text-align: center;
  color: #0d4f9a;
}

.carousel-control-prev {
  background-color: #e2e7ed;
  width: 5%;
}

.carousel-control-next {
  background-color: #e2e7ed;
  width: 5%;
}
.carousel-control-prev-icon {
  color: black !important;
}
.vertical-carousal-container {
  border: 2px solid green;
  padding-top: 30px;
  padding-bottom: 50px;
  transform: rotate(0deg);
}

.im {
  display: inline !important;
  border: 2px solid #1e77de;
}

.vp {
  position: absolute;
  left: 60px;
  top: 0px;
  transform: rotate(90deg);
  width: 20px;
  height: 60px;
}

.vertical-carousal-container .carousel-item {
  /* transform: rotate(90deg); */
}

.vertical-carousal-container img {
  transform: rotate(0deg);
}

.containerv {
  /* margin-bottom: 0px;
  position: absolute; */
}

/* .vertical-carousal-row {
  transform: rotate(90deg);
} */

/* .right {
  display: inline;
}

.left {
  display: inline;
}

li {
  display: inline;
}

a {
  display: inline;
} */

/* .nav-top-left {
  display: inline-block;
}



.nav-top-middle {
  display: inline-block;
} */

/* .top-nav {
  background-color: aquamarine;
  height: 60px;
}

.nav-top-right {
  float: right;
  padding-right: 20px;
  margin-top: 10px;
  background-color: blue;
}

.nav-top-left li {
  margin-top: 10px;
  background-color: red;
  padding-bottom: 10px;
  padding-top: 5px;
}

.list-item {
  display: inline-block;
  padding-right: 20px;
} */

/* ---------------------------------------Middle grid Start--------------------------------- */
.protein-powder-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0d4f9a;
}

.rating-stars {
  color: #2bb34d;
  /* font-weight: 900; */
  font-size: large;
}

.review-stats {
  color: #0d4f9a;
  font-weight: 300;
  font-size: small;
}

.reviews {
  text-align: center;
}

/* [1] The container */
.img-hover-zoom {
  text-align: center;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  width: 95%;
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.main-image-footer {
  text-align: center;
}

.product-detail-container .row {
  margin-left: 60px;
}
.detail-heading {
  margin-top: 30px;
  line-height: 1.2;
  font-style: normal;
  margin-bottom: 30px;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.5mm;
  padding-bottom: 2px;
}
.footer-detail-left {
  padding-left: 5%;
  padding-right: 5%;
  font-style: normal;
  font-weight: 400;
}
.sub-detail {
  font-weight: 600;
  letter-spacing: 0.2mm;
}

.product-detail-container .points {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
}
.product-detail-container .points li {
  margin-bottom: 4px;
}

.product-detail-container h6 {
  margin-bottom: 2px;
}

@media (max-width: 600px) {
  .product-detail-container .row {
    margin-left: 10px;
    /* text-align: left; */
  }
}

/* ------------------------------------------footer start--------------------------------------- */
.footer {
  margin-top: 40px;
  background-color: #0d4f9a;
}
.footer .sections > div {
  border: 1px solid white;
  background-color: #063d7d;
  color: white;
  font-size: larger;
  font-weight: 350;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 5px;
}
.footer .sections > div {
  border-bottom: 2px solid white;
}

.footer img {
  width: 50px;
  height: 50px;
  position: relative;
  top: -25px;
}

.featured h1 {
  font-size: 3.5em;
  font-weight: 700;
}

@media (max-width: 780px) {
  .footer img {
    position: static;
  }
  .footer .sections > div {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer .text {
    padding-top: 10px;
  }
}

/* .review-section { padding-top: 20px; background-color: #063469; } */
.review-section {
  padding-top: 50px;
  background-color: #0d4f9a;
  padding-bottom: 50px;
  /* text-align: right; */
  color: white;
}

.review-section .vertical {
  text-align: right;
}

.review-section .vertical {
  border-right: 5px solid #2bb34d;
  padding-right: 40px;
  padding-bottom: 5px;
}

/* .review-section h1 {
  border-right: 6px solid #2bb34d;
  padding-bottom: 80px;
  padding-
  right: 30px;
} */

/* .review-section .ver {
  transform: rotate(90deg);
  height: 5px;
  width: 100px;
  background-color: #2bb34d;
  position: absolute;
  left: 210px;
} */

.review-section .read-more {
  color: #1fc749;
  font-weight: 350;
}

.review-section .stars {
  color: #1fc749;
  font-size: x-large;
}

.review-section i {
  margin-right: 5px;
}

.review-section .right-section {
  text-align: center;
}

.right-section blockquote {
  padding-top: 5px;
  font-size: larger;
  font-weight: 700;
}

.right-section .name {
  font-size: large;
  font-weight: 500;
  font-style: italic;
}

.right-section .verified-buyer {
  color: #1fc749;
  font-size: x-large;
  font-weight: 700;
}

@media (max-width: 800px) {
  .review-section .vertical {
    text-align: center;
    padding-bottom: 80px;
    border-right: 0px;
    border-bottom: 10px solid #1fc749;
  }
  .review-section .featured {
    padding-left: 100px;
    padding-right: 100px;
  }
  .stars {
    padding-top: 10px;
  }
  .review-section .name {
    font-size: larger;
  }
}
.subscribe-btn {
  position: relative;
}
.question-mark {
  color: #2bb34d;
  position: absolute;
  top: -11px;
  right: -11px;
  font-size: medium;
}

.vertical-pics {
  padding-top: 80px;
  padding-left: 0px;
}
.vertical-pics img {
  margin: 0 auto;
  display: block;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.side-fixed-review {
  width: 49px;
  height: 113.25px;
  background-color: #0d4f9a;
  position: fixed;
  top: 45%;
  left: 0;
  text-align: center;
}

.side-fixed-review p {
  text-align: center;
  transform: rotate(270deg);
  color: white;
  position: absolute;
  top: 45px;
  left: -17px;
  font-weight: 350;
}
