.body-content {
  border-top: 5px solid #0d4f9a;
  border-bottom: 5px solid #0d4f9a;
  padding-bottom: 15px;
}

/*------------------------------------------------Top Navbar Start------------------------------------------ */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.top-nav {
  background-color: #0d4f9a;
}

.top-nav a {
  color: white;
}

.top-nav-dropdown {
  border-radius: 0px;
  background-color: #063469;
}

.top-nav-dropdown a {
  color: white;
}

.top-nav-dropdown li {
  border-top: 0.1em solid rgba(8, 75, 150, 0.5);
}

span.cart-ico {
  margin-right: 0px;
  margin-left: 3px;
}

span.user-ico {
  margin-right: 0;
}

/* -------------------------------------------------Top Navbar End-------------------------------------------- */

/* --------------------------------------------------main navbar start------------------------------------------ */

span.search-contact {
  font-size: 11px;
  color: #2bb34d;
  font-weight: bold;
  /* vertical-align: middle; */
  /* margin-bottom: 11px; */
  /* text-align: end; */
}

.search {
  margin-right: 20px;
}

.search-bar {
  padding-top: 10px;
}

.biotrust-image {
  padding-left: 50px;
  padding-right: 50px;
}

.main-nav {
  padding-bottom: 2px;
  padding-top: 2px;
}

.main-nav-dropdown {
  border-radius: 0px;
}

.main-nav-dropdown a {
  color: #0d4f9a;
  font-weight: 500;
}

.shop-btn {
  background-color: #0d4f9a;
  color: white;
  margin-right: 30px;
}

.shop-btn:hover {
  background-color: #0d4f9a;
  color: white;
}

.main-nav-links a {
  color: #0d4f9a;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  right: 70px;
  bottom: 16px;
  color: #bdc7bfe1;
  font-size: xx-large;
}

.bread-crumb {
  margin-left: 10px;
  margin-top: 10px;
  color: #3f87d8;
  font-weight: 400;
}

.bread-crumb ol {
  margin-bottom: 1px;
}

.bread-crumb a {
  text-decoration: none;
  color: #1e77de;
  font-weight: 400;
}

/* --------------------------------------------------main navbar end------------------------------------------ *




/* --------------------------------------------------body start------------------------------------------ */

/* ----------------------------------Offer Pakages (Right Grid) Start ------------------------------------------*/

.choose-pakage {
  font-weight: 800;
  font-size: x-large;
  color: #0d4f9a;
  text-align: center;
}

.select-money {
  text-align: center;
}

.pakage-wide-buttons-container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.one-time-purchase-btn {
  /* display: inline-block; */
  background-color: #0d4f9a;
  border-color: #0d4f9a;
  color: white;
  font-weight: 800;
  font-size: larger;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.subscribe-btn {
  /* display: inline-block; */
  background-color: white;
  border-color: #0d4f9a;
  color: #0d4f9a;
  font-size: larger;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 4px;
}

.one-time-purchase-btn:hover {
  cursor: default !important;
  background-color: #0d4f9a;
  color: white;
}

.subscribe-btn:hover {
  cursor: default !important;
  background-color: white;
  color: #0d4f9a;
}

.offers-container {
  padding: 30px 30px 30px;
}

.card-footer {
  background-color: white;
  border: none;
}
.card-flavor-button {
  width: 90%;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2bb34d;
  border-color: #2bb34d;
}

.pakage-middle .card-footer {
  padding-top: 40px;
  margin-bottom: 7px;
}

.card-flavor-button:hover {
  background-color: #1fc749;
  border-color: #1fc749;
}

.card-footer {
  padding-top: 0;
}

.pakage .card-title {
  font-size: 32px;
  font-weight: 900;
  color: #0d4f9a;
}

.pakage .price {
  padding-top: 10px;
  font-size: 35px;
  color: #2bb34d;
}

.pakage .discount {
  font-size: 25px;
  font-weight: 550;
  color: red;
}

.pakage .card-body-text {
  font-size: 30px;
  font-weight: 900;
  line-height: 32px;
  padding-top: 10px;
}

.card-body {
  padding-bottom: 1px;
}

.pakage-left {
  border: 2px solid #0d4f9a;
  border-right: 0;
  border-radius: 0px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.pakage-left .price {
  padding-bottom: 60px;
}

.pakage-middle .price {
  padding-top: 0px;
}

.pakage-right {
  border: 2px solid #0d4f9a;
  border-left: 0;
  border-radius: 0px;
  margin-top: 15px;
  padding-bottom: 15px;
}

.pakage-middle {
  border: 5px solid #0d4f9a;
  border-top: 3px;
  border-radius: 0px;
  /* padding-bottom: 40px; */
}

.pakage-middle .card-header {
  background-color: #0d4f9a;
  color: white;
  border-radius: 0px;
  font-size: 20px;
  font-weight: 800;
  padding: 0px;
  text-align: center;
}
/* ----------------------------------Offer Pakages (Right Grid) END ------------------------------------------*/

/* -------------------------Community Photos Horizontal Carousal(Right Grid) Start ------------------------------------------*/

.padding-0 {
  padding-right: 2px;
  padding-left: 2px;
}

.carousal-container {
  padding-top: 40px;
  padding-bottom: 50px;
}

.community-photos-title {
  padding-bottom: 10px;
  text-align: center;
  color: #0d4f9a;
}

.carousel-control-prev {
  background-color: #e2e7ed;
  width: 5%;
}

.carousel-control-next {
  background-color: #e2e7ed;
  width: 5%;
}
.carousel-control-prev-icon {
  color: black !important;
}
.vertical-carousal-container {
  border: 2px solid green;
  padding-top: 30px;
  padding-bottom: 50px;
  transform: rotate(0deg);
}

.im {
  display: inline !important;
  border: 2px solid #1e77de;
}

.vp {
  position: absolute;
  left: 60px;
  top: 0px;
  transform: rotate(90deg);
  width: 20px;
  height: 60px;
}

.vertical-carousal-container .carousel-item {
  /* transform: rotate(90deg); */
}

.vertical-carousal-container img {
  transform: rotate(0deg);
}

.containerv {
  /* margin-bottom: 0px;
  position: absolute; */
}

/* .vertical-carousal-row {
  transform: rotate(90deg);
} */

/* .right {
  display: inline;
}

.left {
  display: inline;
}

li {
  display: inline;
}

a {
  display: inline;
} */

/* .nav-top-left {
  display: inline-block;
}



.nav-top-middle {
  display: inline-block;
} */

/* .top-nav {
  background-color: aquamarine;
  height: 60px;
}

.nav-top-right {
  float: right;
  padding-right: 20px;
  margin-top: 10px;
  background-color: blue;
}

.nav-top-left li {
  margin-top: 10px;
  background-color: red;
  padding-bottom: 10px;
  padding-top: 5px;
}

.list-item {
  display: inline-block;
  padding-right: 20px;
} */

/* ---------------------------------------Middle grid Start--------------------------------- */
.protein-powder-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #0d4f9a;
}

.rating-stars {
  color: #2bb34d;
  /* font-weight: 900; */
  font-size: large;
}

.review-stats {
  color: #0d4f9a;
  font-weight: 300;
  font-size: small;
}

.reviews {
  text-align: center;
}

/* [1] The container */
.img-hover-zoom {
  text-align: center;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  width: 98%;
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.main-image-footer {
  text-align: center;
}
